<h1 class="text-xl"><%= @team.name %> </h1>

<div>
<%= render @pending_members %>
<%= render @admins_members %>
<%= render @members %>
</div>

<div>
<%= turbo_frame_tag :meetings, src: meetings_path, target: "_top" %>
</div>
