<div class="flex items-stretch">
  <div class="flex justify-between flex-col w-1/3">
    <%= form_with model: Comments::Hit.new, url: comments_path do |form| %>
      <%= form.hidden_field :meeting_id, value: @meeting.id %>
      <%= form.hidden_field :type, value: "Comments::Hit" %>
      <div class="field">
        <%= form.rich_text_area :body %>
      </div>
      <%= form.submit %>
    <% end %>
    <%= turbo_frame_tag("hit_list") do %>
      <h1>HITS</h1>
      <%= render hits %>
    <% end %>
  </div>
  <div class="flex justify-between flex-col w-1/3">
    <%= form_with model: Comments::Miss.new, url: comments_path do |form| %>
      <%= form.hidden_field :meeting_id, value: @meeting.id %>
      <%= form.hidden_field :type, value: "Comments::Miss" %>
      <div class="field">
        <%= form.rich_text_area :body %>
      </div>
      <%= form.submit %>
    <% end %>
    <%= turbo_frame_tag("miss_list") do %>
      <h1>MISSES</h1>
      <%= render misses %>
    <% end %>
  </div>
</div>