
<%= turbo_stream_from dom_id(@meeting) + Apartment::Tenant.current %>
<%= turbo_frame_tag @meeting do %>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <h1 class="text-4xl mb-5 font-bold text-slate-400"><%= @meeting.name %> </h1>

    <% if @meeting.not_started? %>
      <div class="mt-32">
        <% if can?(:start, @meeting) %>
          <%= render partial: "start_meeting_form", locals: { meeting: @meeting } %>
        <% else %>
          Wainting for host to start the meeting...
        <% end %>
      </div>
    <% else %>
      <%= tag.div class: "font-mono text-3xl font-semibold",
      data: {
        controller: "timer",
        timer_end_at_value: (@meeting.started_at + @meeting.duration_seconds.seconds).iso8601,
      } do %>
        --:--
      <% end %>
      <%= render partial: "meetings/hits_and_misses", locals: { meeting: @meeting, hits: @hits, misses: @misses } %>
    <% end %>
  </div>
<% end %>


